version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
      - ocr-temp:/tmp/ocr
    command: sleep infinity
    network_mode: bridge
    ports:
      - "8050:8050"
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
    # Overrides default command so things don't shut down after the process ends
    stdin_open: true
    tty: true

volumes:
  ocr-temp:

